<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Billing Address</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="billingAddress">
  <div class="shipPanel">
    <div class="shipAutoPanel">
      <div>
        <form [formGroup]="billingForm" (ngSubmit)=" onSubmit(billingForm.value)">
          <div class="labelStyle" style="width: 49%">
            <ion-label [ngClass]="billingForm.controls['billingfirstName'].value?'labelShowTitle labelTitle':'labelTitle'">First Name</ion-label>
            <ion-input class="inputClass" (focus)="addBd($event)" (blur)="blurBd($event)" formControlName="billingfirstName" type="text" [ngClass]="billingForm.controls['billingfirstName']['status']=='INVALID'&&submited?'showInputError':'inputClass'" placeholder="First Name" ></ion-input>
          </div>
          <div class="labelStyle" style="width: 49%">
            <label [ngClass]="billingForm.controls['billinglastName'].value?'labelShowTitle labelTitle':'labelTitle'">Last Name</label>
            <ion-input type="text" (focus)="addBd($event)" (blur)="blurBd($event)" formControlName="billinglastName" placeholder="Last Name" [ngClass]="billingForm.controls['billinglastName']['status']=='INVALID'&&submited?'showInputError':'inputClass'"></ion-input>
          </div>
          <label style="width: 100%" class="labelStyle">
            <label [ngClass]="billingForm.controls['billingaddress1'].value?'labelShowTitle labelTitle':'labelTitle'">Address Line1</label>
            <ion-input type="text" (focus)="addBd($event)" (blur)="blurBd($event)" formControlName="billingaddress1" placeholder="Address Line1" [ngClass]="billingForm.controls['billingaddress1']['status']=='INVALID'&&submited?'showInputError':'inputClass'"></ion-input>
          </label>
          <label style="width: 100%" class="labelStyle">
            <label [ngClass]="billingForm.controls['billingaddress2'].value?'labelShowTitle labelTitle':'labelTitle'">Address Line2</label>
            <ion-input type="text" (focus)="addBd($event)" (blur)="blurBd($event)" formControlName="billingaddress2" placeholder="Address Line2" [ngClass]="billingForm.controls['billingaddress2']['status']=='INVALID'&&submited?'showInputError':'inputClass'"></ion-input>
          </label>
          <label style="width: 100%" class="labelStyle">
            <label [ngClass]="billingForm.controls['billingpostalcode'].value?'labelShowTitle labelTitle':'labelTitle'">Postal code</label>
            <ion-input type="text" (focus)="addBd($event)" (blur)="blurBd($event)" [maxlength]="5" formControlName="billingpostalcode" placeholder="Postal code" [ngClass]="billingForm.controls['billingpostalcode']['status']=='INVALID'&&submited?'showInputError':'inputClass'"></ion-input>
          </label>
          <label style="width: 100%" class="labelStyle">
            <label [ngClass]="billingForm.controls['billingcity'].value?'labelShowTitle labelTitle':'labelTitle'">City</label>
            <ion-input type="text" (focus)="addBd($event)" (blur)="blurBd($event)" formControlName="billingcity" placeholder="City" [ngClass]="billingForm.controls['billingcity']['status']=='INVALID'&&submited?'showInputError':'inputClass'"></ion-input>
          </label>
          <div>
            <button class='shipAdd'  type='submit'>Add New Address</button>
          </div>
        </form>
      </div>

      <div class="orPosition">
        <span class="orClass">or</span>
      </div>

      <div>
        <div *ngFor="let address of billingList" class="addressPanel" (click)="sendAddress(address)">
          <img src="/assets/img/cart/arrow.svg" width="10" role="presentation">
          <div class="shippingInfo">
            <p>Billing Address</p>
            <p class="textClass" [innerHTML]="address.billingfirstName+' '+address.billinglastName"></p>
            <p class="textClass" [innerHTML]="address.billingaddress1"></p>
            <p *ngIf="address.billingaddress2" class="textClass" [innerHTML]="address.billingaddress2"></p>
            <p class="textClass" [innerHTML]="address.billingcity+', '+address.billingpostalcode"></p>
          </div>
        </div>
      </div>
    </div>
  </div>


</ion-content>
