.profile{
  .heading-item
  {
    height: 100%;
    background-color: darken(#3E454C, 10);
  }

  .icon-head{
    margin: auto;
    width: 25vw ;
    height: 25vw ;
    border: 8px solid white;
  }

}
