.card-background-page{
  ion-card {
    height: 30%;
    position: relative;
    text-align: center;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 1.1em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-name{
    position: absolute;
    top: 52%;
    font-size: 1.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 68%;
    width: 100%;
    color: #fff;
  }

  ion-icon{
    font-size:8.2em ;
  }
}
